<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='styles.css') }}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

    <main class="page-center">

        <div class="form-card">

            <a href="/" class="back-btn">
                <i class="fa-solid fa-arrow-left"></i>
            </a>

            <h1>Criar atividade</h1>

            <form action="/salvar" method="POST" id="formCriar">

                <label>Matéria</label>
                <input type="text"
                       name="materia"
                       required>

                <label>Nome</label>
                <input type="text"
                       name="nome"
                       required>

                <label>Nota</label>
                <input type="number"
                       name="nota"
                       min="0"
                       max="100"
                       required>

                <label>Prazo</label>
                <input type="date"
                       name="prazo"
                       required>

                <div class="button-group">

                    <button type="reset" class="clear-btn">
                            Limpar
                    </button>

                    <button type="button"
                            class="save-btn"
                            onclick="abrirModal()">
                        Salvar
                    </button>

                </div>

                <div class="modal" id="modalSalvar">

                    <div class="modal-content">

                        <h2>Deseja salvar?</h2>

                        <div class="button-group">

                            <button type="submit" class="save-btn">
                                Salvar
                            </button>

                            <button type="button"
                                    class="cancel-btn"
                                    onclick="fecharModal()">
                                Cancelar
                            </button>

                        </div>

                    </div>

                </div>

            </form>

        </div>

    </main>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
</html>