<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Deletar</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='styles.css') }}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

<main class="page-center">

    <div class="list-card">

        <a href="/" class="back-btn">
            <i class="fa-solid fa-arrow-left"></i>
        </a>

        <h1>Deletar atividades</h1>

        {% for tarefa in tarefas %}

        <div class="task-card">

            <h2>{{ tarefa['nome'] }}</h2>

            <p>{{ tarefa['matéria'] }}</p>

            <form action="/remover" method="POST">

                <input type="hidden"
                       name="id"
                       value="{{ tarefa['id'] }}">

                <button type="submit" class="delete-btn">
                    <i class="fa-solid fa-trash"></i>
                </button>

            </form>

        </div>

        {% endfor %}

    </div>

</main>

</body>
</html>