<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Ler</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='styles.css') }}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

<main class="page-center">

    <div class="list-card">

        <a href="/" class="back-btn">
            <i class="fa-solid fa-arrow-left"></i>
        </a>

        <h1>Atividades</h1>

        {% if tarefas|length == 0 %}

            <p class="empty-msg">
                Nada marcado até o momento.
            </p>

        {% else %}

            {% for tarefa in tarefas %}

            <div class="task-card">

                <h2>{{ tarefa.nome }}</h2>

                <p>
                    <strong>Matéria:</strong>
                    {{ tarefa.matéria }}
                </p>

                <p>
                    <strong>Nota:</strong>
                    {{ tarefa.nota }}
                </p>

                <p>
                    <strong>Prazo:</strong>
                    {{ tarefa.prazo }}
                </p>

            </div>

            {% endfor %}

        {% endif %}

    </div>

</main>

</body>
</html>